
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container" style="margin-top:20px;">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Kategori Adı</th>
        </tr>
        <tr>
            <td>1</td>
            <td>beyaz eşya</td>
        </tr>
    </table>
    <button class="btn btn-primary">Yeni Kategori</button>
</div>