
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:25px;">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
    </tr>
    <tr>
        <td>1</td>
        <td>beyaz eşya</td>
    </tr>
</table>
<button class="btn btn-primary">Yeni Kategori</button>
